In [2]:
# Import dependencies
import pandas as pd
from os import path

# Create reference to filepath CSV file (student and school data files)
student_data_to_load = path.join("../Resources/students_complete.csv")
school_data_to_load = path.join("../Resources/schools_complete.csv")

In [49]:

# Import CSVs into Pandas DataFrames
student_data = pd.read_csv(student_data_to_load)

school_data = pd.read_csv(school_data_to_load)

student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [8]:
# Calculate total number of unique schools in the district

num_schools = school_data.loc[:,"school_name"].count()

num_schools

15

In [11]:
# Calculate total number of students in the district

num_students = school_data.loc[:,"size"].sum()

num_students

39170

In [13]:
# Calculate the total budget in the district

total_budget = school_data.loc[:,"budget"].sum()

total_budget

24649428

In [16]:
# Calculate the average math score

avg_math_score = student_data.loc[:,"math_score"].mean()

avg_math_score

78.98537145774827

In [18]:
# Calculate the average reading score

avg_reading_score = student_data.loc[:,"reading_score"].mean()

avg_reading_score

81.87784018381414

In [72]:
## Calculate % passing math

# Create new dataframe consisting of only students with a math score of 70 or higher
passed_math_df = student_data.loc[student_data["math_score"] >= 70].count()["student_name"]


# Calculate percent of total students that passed math
percent_passed_math = (total_passed_math / num_students) * 100

percent_passed_math

74.9808526933878

In [69]:
## Calculate % passing reading

# Count and store total number of students who passed reading
total_passed_reading = student_data.loc[(student_data["reading_score"] >= 70)].count()["student_name"]

# Calculate percent of total students who passed reading
percent_passed_reading = (total_passed_reading / num_students) * 100

percent_passed_reading

85.80546336482001

In [70]:
# Calculate % passing overall

# Create new dataframe consisting of only students with both reading AND math scores of 70 or higher
total_passed_overall = student_data.loc[(student_data["math_score"] >= 70) & (student_data["reading_score"] >= 70)].count()["student_name"]

percent_passed_overall = (total_passed_overall / num_students) * 100

percent_passed_overall

65.17232575950983

In [73]:

data = {"Total Number of Unique Schools":[num_schools], "Total Students":[num_students], "Total Budget":[total_budget], "Average Math Score":[avg_math_score], 
        "Average Reading Score":[avg_reading_score], "Percent Passing Math":[percent_passed_math], "Percent Passing Reading":[percent_passed_reading], 
        "Percent Passing Overall":[percent_passed_overall]
        }

district_summary = pd.DataFrame(data, index=["District Summary"])

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Percent Passing Math"] = district_summary["Percent Passing Math"].map("{:,.2f}%".format)
district_summary["Percent Passing Reading"] = district_summary["Percent Passing Reading"].map("{:,.2f}%".format)
district_summary["Percent Passing Overall"] = district_summary["Percent Passing Overall"].map("{:,.2f}%".format)

district_summary

,Total Number of Unique Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
District Summary,15,"39,170","$24,649,428.00",78.985371,81.87784,74.98%,85.81%,65.17%